.flaticon-cloudy19 {
    font-size: 180px;
    color: #282828;
}

.flaticon-sunny {
    font-size: 180px;
    color: #282828;
}

.flaticon-cloud-storage {
    font-size: 180px;
    color: #282828;
}


.flaticon-snowflake3 {
    font-size: 180px;
    color: #282828;
}



/* Styles for credit section */

.credit {
    font-size: 12px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    color: #989898;
    
}



/* unvisited link */
.credit a:link {
    color: #989898;
    text-decoration: underline;
}

/* visited link */
.credit a:visited {
    color: #989898;
}

/* mouse over link */
.credit a:hover {
    color: #989898;
}

/* selected link */
.credit a:active {
    color: #989898;
}


/* Weather list styles */

.weatherlist ul{
    list-style: none;
      
      margin: auto;
      padding: 0px;
    
}

.weatherlist li {
   display: inline;
    padding: 20px;
}

.weatherlist {
    min-width: 100px;
    margin: 20px auto;
    
}



.weatherdescription {
    font-size: ;
}

.cover {
    padding: 0px;
}

body {
    background-image: url('../assets/img/peyto.jpg');
    background-position: center;
    background-size: cover;
}


.btn-default, .btn-default:hover, .btn-default:focus {
  color: #282828;
  text-shadow: none;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.49), 0 0 0.2em rgba(255, 255, 255, 0.15), 0 0 0.2em rgba(255, 255, 255, 0.18);
    
}